*{
    font-family: 'Montserrat', sans-serif;
}


footer a{
    text-decoration: none;
    color:whitesmoke;
    cursor: pointer;
}

footer h5{
    color: whitesmoke
}

footer a:hover{
    color:black
}

footer .btn{
    color: whitesmoke;
    text-decoration: none;
}

footer .btn:hover{
    color: black;
    text-decoration:none;
}

.ftrlink{
    text-decoration: none;
}

.bgimg{
    width:100%;
    height: auto;
}


a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/*
.wide{
    width:100%;
}
*/



/*^^^^^^^^^^^^^Global^^^^^^^^^^^^^^*/

#bodyIndex{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url(Images/6MmseN.jpg);
    background-position: center;
    padding: 0 8%;
    position: relative;

}

.h1{
    width: 120px;
    cursor: pointer;
}

.n1{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.fa-sign-in{
    margin-left: 5px;
    align-items: center;
}

.navli{
    list-style: none;
    margin: 10px 30px;
    display:inline-block;
    right: 0%;
}

.navli a{
    color:whitesmoke;
    text-decoration: none;
    position: relative;
}

.navli a::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    transition: width 0.3s;
}

.navli a:hover::after{
    width: 50%;
}


.t1{
    color:whitesmoke;
    position: absolute;
    bottom: 8%;
}

.t1 h2{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
}

.t1 h3{
    font-size: 40px;
    font-weight: 500px;
    margin-left: 5px
}

.subtxt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 8px;
}

.subtxt a{
    color:whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid whitesmoke;
    display: flex;
    align-items: center;
}

.fa-arrow-right{
    margin-left: 7px;
}

.logo{
    color:whitesmoke;
}

/* need to figure out how to get it to not select the whole col
.logo::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: whitesmoke;
    transition: width 0.3s;
}

.logo:hover::after{
    width: 50%;
}
*/

.indexbtn:hover{
    transform: translateY(-3.5px);
    box-shadow: 0 10px 20px #00000042;
}

.indexbtn:active{
    transform: translateY(-0.5px);
    box-shadow: 0 5px 10px #00000033;
}

.navli2{
    list-style: none;
}

.dropdown-toggle{
    background: none;
    border:none;
}

.dropdown-menu{
    right: 0px;
    left: auto;
}

.iconLink{
    margin: 8px;
    color: rgb(13, 173, 39);
}

.iconLink:hover{
    color:turquoise;
}

.cModalH{
    margin-top: 12px;
}


#natalie{
    margin-left: -26px;
}

#signinButton{
    color:whitesmoke
}

#connectButton{
    cursor: pointer;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^index.html^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

#resume{
    width: 95%;
    max-width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto
} 

#bodyAbt{
    background-image: url(Images/Green+Foliage+Peel+And+Stick+Removable+Wallpaper+Panel.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#headAbt{
    background-color: rgb(53, 175, 70);
}

#footAbt{
    background-color: rgb(53, 175, 70);
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.ftContent{
    align-items: center;
}

.bCrumb{
    background-color: whitesmoke;
}

.breadcrumb a{
    color:rgb(13, 173, 39);
}

/*^^^^^^^^^^^^^^^^^^About^^^^^^^^^^^^^^^^^^^^^^^*/

#bodyLooks{
    background-image: url(Images/1581865780_372_ladybird-beetle-wallpapers.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/*
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
*/

.looksContainer{
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width:100%;
}